# image-classifier/requirements.txt
# 라이브러리
flask==2.3.3
flask-cors==4.0.0
torch==2.0.1
torchvision==0.15.2
Pillow==10.0.0
numpy==1.24.3
gunicorn==21.2.0
requests==2.31.0

# HuggingFace
transformers==4.33.2
accelerate==0.21.0  # 메모리 최적화용
safetensors==0.3.2  # 모델 로딩 최적화